<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.demo.mappers.EmployeeMapper">

    <select id="getEmployee" resultType="com.atguigu.demo.beans.Employee">
        select * from tbl_employee where id = #{id}
    </select>
    
    <delete id="deleteEmployee">
        delete from tbl_employee where id = #{id}
    </delete>
    
    <insert id="insertEmployee">
        insert into tbl_employee(last_name,gender,email) value (#{lastName},#{gender},#{email})
    </insert>

    <update id="updateEmployee">
        update tbl_employee set last_name=#{lastName} , gender=#{gender}, email=#{email} where id=#{id}
    </update>

    <select id="getAll" resultType="com.atguigu.demo.beans.Employee">
        select * from tbl_employee
    </select>
</mapper>